.app {
  min-height: 100vh;

 background: url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* .app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(-45deg, #4facfe, #00f2fe, #667eea, #764ba2);
  background-size: 400% 400%;
  animation: gradientBG 12s ease infinite;
} */

/* ANIMATION */
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Container */
.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Card */
.card {
  background: #f7f7f7;
  width: 95%;
  max-width: 500px;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* Title */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Input Section */
.task-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Input Group (text + date) */
.input-group {
  display: flex;
  gap: 10px;
}

.input-group input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* Button */
.task-input-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #5f67ff;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

/* Search */
.search-input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* Filters */
.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.filters button {
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  background: #ddd;
  cursor: pointer;
}

.filters .active {
  background: #5f67ff;
  color: white;
}

/* Stats */
.task-stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

/* Clear button */
.clear-btn {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background: #ff6b6b;
  color: white;
  border-radius: 8px;
}

/* Task List */
.task-list {
  list-style: none;
  max-height: 300px;
  overflow-y: auto;
}

/* Task Item */
.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Left */
.task-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Task text block */
.task-text {
  display: flex;
  flex-direction: column;
}

/* Date */
.task-date {
  font-size: 12px;
  color: gray;
}

/* Buttons */
.task-actions {
  display: flex;
  gap: 8px;
}

.task-actions button {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
}

.delete-btn {
  background: #ff4d4f;
  color: white;
}

/* Responsive */
@media (max-width: 600px) {
  .input-group {
    flex-direction: column;
  }
}